body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #fafefb;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

.header {
    background-color: #f9fefb;
    height: 280px;
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    color: #ece7e7;
    position: relative;
}

.navbar {
    background-color: #fff;
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
    border-radius: 0px;
    color: #a8b3ad;
    height: 50px;
    text-decoration: none;
  }

a,
a:link,
a:visited {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .5s ease-out;
       -moz-transition: color .5s ease-out;
         -o-transition: color .5s ease-out;
            transition: color .5s ease-out;
}


a:hover {
    color: #555;
    text-decoration: none;
}

.serviceList {
    padding-top: 15px;
    color: #818298;
}

.serviceCalc {
    padding-left: 24px;
    padding-top: 10px;
}

.main {
    width: 90%;
    min-height: 430px;
    margin-top: 5px;
    margin-left: 5%;
    background-color: #e9eeef;
    color: #818298;
}

.newOrder{
    padding: 50px;
    width: auto;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.footer {
    background: #fafefb;
    width: 90%;
    height: 10px;
    margin-left: 5%;
}

button:focus {
    outline-color: #eee;
}

.wrapper {
    text-align: center;
    width: 100%;
}

.wrapper label {
    position: initial;
}

.logging {
    width: 25%;
    height: 250px;
    margin: auto;
    color: #818298;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
}

.topLine {
    background-color: #818297;
    height: 27px;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

.secondLine {
    background-color: #ffa782;
    height: 20px;
    border-radius: 25px;
    margin: auto;
    margin-top: 5px;
    width: 40%;
}

.thirdLine {
    margin-top: 10px;
}
